# Composer dependencies
/vendor/

# Node.js dependencies
/node_modules/
/package-lock.json
/yarn.lock

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
__MACOSX/

# IDE/editor-specific files
/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sql
*.sqlite
debug.log

# Environment files
.env
.env.local

# WordPress configuration files
wp-config.php
.htaccess

# Cache and temporary files
.cache/
*.tmp
*.bak
*~

# Build directories
/build/
/dist/

# Language files
/languages/*.mo
/languages/*.po

# Misc
.npm-debug.log*
.yarn-integrity
.eslintcache
.sass-cache/
.stylelintcache